.page-container {
	position: fixed;
	z-index: 10;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: column;
}
.nav-bar-container {
	height: 44px;
	display: flex;
	align-items: center;
}
.text-area-container {
	flex: 1;
	overflow: hidden;
}
#text-area {
	height: 100%;
	border:1px solid #dddddd;
	outline: 0px;
}
.tool-bar-container {
    border: 1px solid #dddddd;
}

.tool-bar {
	display: flex;
}

.btn {
    text-decoration: none !important;
    padding: 3px 5px;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px #fff;
	color: #444;
}

#control-area {
	display: none;
}
