.page-container {
	position: fixed;
	z-index: 10;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: column;
	background-color: white;
}

.nav-bar-container {
	height: 44px;
	display: flex;
	align-items: center;
	background-color: white;
	border-bottom:1px solid #dddddd;
}

.filename-input {
	width: 100%;
	height: 100%;
	border:0;
	border-bottom:1px solid #dddddd;
	outline: none;
	margin: 0px 4px;
}
.text-area-container {
	flex: 1;
	padding: 1px 4px;
	overflow-x: hidden;
	overflow-y: auto;
}

#text-area {
	min-height: 100%;
	white-space:pre-wrap;
	/* border-top:1px solid #dddddd; */
	outline: 0px;
}

.tool-bar-container {
    border: 1px solid #dddddd;
}

.tool-bar {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 3px;
}

.btn {
    text-decoration: none !important;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px #fff;
	color: #444;
}
.tool-bar>.btn {
	font-size:20px;
}

/* richtext style */
#text-area img {
	height: 100%;
	width: 100%;
	display: block;
}