
@font-face {
  font-family: 'iconfont';  /* project id 654450 */
  src: url('https://at.alicdn.com/t/font_654450_nst1auy924.eot');
  src: url('https://at.alicdn.com/t/font_654450_nst1auy924.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_654450_nst1auy924.woff') format('woff'),
  url('https://at.alicdn.com/t/font_654450_nst1auy924.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_654450_nst1auy924.svg#iconfont') format('svg');
}

.iconfont {
	font-family:"iconfont" !important;
  	font-size:16px;
  	font-style:normal;
  	-webkit-font-smoothing: antialiased;
 	-webkit-text-stroke-width: 0.2px;
  	-moz-osx-font-smoothing: grayscale;
}

page {
	background-color:#F4F5F6;
	height: 100%;
	font-size:28upx;
	line-height: 1.8;
	/*display: flex;*/
	/*flex-direction: column;*/
}

uni-textarea {
	width:96%;
	padding:18upx 2%;
	line-height:1.6;
	font-size:28upx;
}

.full-height {
	height:100%;
}
.uni-common-mr {
	margin-right:30upx;
}

.uni-common-pr {
	padding-right:30upx;
}

.uni-bg-white {
	background-color: #FFFFFF;
}

.x-input-border {
	border: 2px solid rgb(245,245,245);
}
